<!-- <p>content-list works!</p> -->

<input ngModel for="inputvalue?" id="aut"/>
<button (click)="clickEvent()">Click me!</button>
<div class="aut" id="msg"></div> 


<div *ngFor="let content of (content | fliter); index as i; first as isFirst; odd as odd; even as even;" >

    <app-content-card  *ngIf="content.type=='Super Kings'" [content]="content" class="chess-player-{{i}} border" class="SK"></app-content-card>
    
</div>
<div *ngFor="let content of (content | fliter); index as i; first as isFirst; odd as odd; even as even;" >

    <app-content-card  *ngIf="content.type=='Indians'" [content]="content" class="chess-player-{{i}} border" class="MI"></app-content-card>
</div>

<div *ngFor="let content of (content | fliter); index as i; first as isFirst; odd as odd; even as even;" >

    <app-content-card  *ngIf="content.type=='Action'" [content]="content" class="chess-player-{{i}} border" class="MI"></app-content-card>
</div>

<div *ngFor="let content of (content | fliter); index as i; first as isFirst; odd as odd; even as even;" >

    <app-content-card  *ngIf="!content.type" [content]="content" class="chess-player-{{i}} border" [class.is-odd]="odd" [class.is-even]="even"></app-content-card>
</div>
 


