<!-- <p>content-list works!</p> -->

<input ngModel for="inputvalue?" id="aut"/>
<button (click)="clickEvent()">Click me!</button>
<div class="aut" id="msg"></div> 

<!-- <div>
    <app-content-card *ngFor="let content of content; index as i; first as idFirst; odd as odd; even as even;" [content]="content" class="chess-player-{{i}} border" [class.is-odd]="odd" [class.is-even]="even"></app-content-card>
</div> -->

<div *ngFor="let content of (content | fliter); index as i; first as isFirst; odd as odd; even as even;" >

    <app-content-card  *ngIf="content.type=='Anime'" [content]="content" class="chess-player-{{i}} border" class="Anime"></app-content-card>
    
</div>
<div *ngFor="let content of (content | fliter); index as i; first as isFirst; odd as odd; even as even;" >

    <app-content-card  *ngIf="content.type=='Manga'" [content]="content" class="chess-player-{{i}} border" class="Manga"></app-content-card>
</div>

<div *ngFor="let content of (content | fliter); index as i; first as isFirst; odd as odd; even as even;" >

    <app-content-card  *ngIf="content.type" [content]="content" class="chess-player-{{i}} border" [class.is-odd]="odd" [class.is-even]="even"></app-content-card>
</div>
 


