<!-- <p>content-list works!</p> -->
<div *ngFor="let content of filteredContents">
    <h2>{{ content.title }}</h2>
    <p>{{ content.description }}</p>
    <p>Created by {{ content.creator }}</p>
    <hr>
  </div>
  <app-create-content (contentCreated)="onContentCreated($event)"></app-create-content>
<br>
<br>

<input ngModel for="inputvalue?" id="aut"/>
<button (click)="clickEvent()">Click me!</button>
<div class="aut" id="msg"></div> 

<br>
<br>
<div>
    <label for="filter">Filter:</label>
    <input id="filter" ngModel="filterText" name="filter" type="text">
  </div>


<div *ngFor="let content of (content | fliter); index as i; first as isFirst; odd as odd; even as even;" >

    <app-content-card  *ngIf="content.type=='Super Kings'" [content]="content" class="chess-player-{{i}} border" class="SK"></app-content-card>
    
</div>
<div *ngFor="let content of (content | fliter); index as i; first as isFirst; odd as odd; even as even;" >

    <app-content-card  *ngIf="content.type=='Indians'" [content]="content" class="chess-player-{{i}} border" class="MI"></app-content-card>
</div>

<div *ngFor="let content of (content | fliter); index as i; first as isFirst; odd as odd; even as even;" >

    <app-content-card  *ngIf="content.type=='Action'" [content]="content" class="chess-player-{{i}} border" class="MI"></app-content-card>
</div>

<div *ngFor="let content of (content | fliter); index as i; first as isFirst; odd as odd; even as even;" >

    <app-content-card  *ngIf="content.type" [content]="content" class="chess-player-{{i}} border" [class.is-odd]="odd" [class.is-even]="even"></app-content-card>
</div>
 


